/* Ajuste específico para carrusel 7 */
.carousel-7 .banner-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.carousel-7 .carousel-banner {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
}